body{
    color: #fff;
    font-family:'Lato', sans-serif;
    font-weight: 300;
    background-image: url("background-img.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 2px 2px 2px gray;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #fff;
}

a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #3d85c6;
  text-decoration: underline;
}

.logo{
    margin-top: 10px;
    border-style: none;
}
.horizontal-line{
    border: 0;
    border-radius: 5px;
    width: 95%;
    color: #7d97ad;
    background-color: #7d97ad;
    height: 5px
}
img{
    margin: 1%;
    cursor: pointer;
}
footer{
    margin-top: 30px;
    text-align: center;
}
.info{
    color: black;
}
.info-header{
    color:black;
}
.muted{
    color: gray;
}
